.currentConditions,
.feelsLike,
.humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 12px;
}

.currentConditions > *,
.feelsLike > *,
.humidity > * {
    flex: 1;
}

.currentConditions > :nth-child(1) {
    border: 3px solid red;
}

.currentConditions > :nth-child(2) {
    border: 3px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currentConditions > :nth-child(3) {
    border: 3px solid green;
}

.currentConditions > :nth-child(2) > :nth-child(3) {
    display: flex;
    flex-direction: column;
}

.humidity > :nth-child(2) {
    display: flex;
    height: 60%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
    padding: 12px;
}

.description img {
    height: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.futureForecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card > :nth-child(1) {
    flex: 1;
}
.card > :nth-child(2) {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
