.currentConditions,
.feelsLike,
.humidity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 48px;
}

.currentConditions > *,
.feelsLike > *,
.humidity > *,
.description div {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.currentConditions > :nth-child(2) > :nth-child(3) {
    display: flex;
    flex-direction: column;
}

.humidity > :nth-child(2) {
    display: flex;
    margin: 12px;
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
    padding: 12px;
}

.description img {
    height: 60%;
    max-height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.futureForecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 12px;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px;
}

.card > :nth-child(1) {
    flex: 1;
}
.card > :nth-child(2) {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
